{{!< default}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="job">
				{{# each data.jobs.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="panel panel-dark padded">
					<h2><a href="{{jobUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">
						{{#if author.name}}{{author.name}}{{/if}}
						{{{categoryList categories prefix="posted in "}}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{jobUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
