<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<article>
				<header class="page-heading col-sm-9">
					<h1>{{data.job.title}}</h1>
					<h5 class="text-muted small">
						{{{categoryList data.job.categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="col-sm-3">
					{{#if data.job.image}}<img src="{{{cloudinaryUrl data.job.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
				</div>
				<hr>
				<p><a href="/jobs">&larr; back to job listings</a></p>
				<hr>
				<div class="job">
					{{{data.job.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>
