<div class="container-fluid">
	<section class="header">
		<article class="row">
			<!-- <div class="job-image featured-image" style="background-image: {{#if data.job.image}}url({{{cloudinaryUrl data.job.image}}}){{/if}}"></div> -->
			<header class="page-heading col-sm-12 jumbotron">
				<div class="col-sm-6 col-md-3 flex-center">
					<img src="{{#if data.job.image}}{{{cloudinaryUrl data.job.image}}}{{/if}}" alt="company logo" class="img-responsive" />
				</div>
				<div class="col-sm-6 col-md-9 text-left">
					<h2>{{data.job.title}}</h2>
					<h5 class="text-muted small">
						{{{categoryList data.job.categories prefix="Posted in "}}}
						{{#if author.name}}by {{author.name}}{{/if}}
					</h5>
				</div>
			</header>
			<hr>
			<div class="container">
				<p class="padded"><a href="/">&larr; back to job listings</a></p>
			</div>
			<hr>
		</article>
	</section>
	<section class="content container">
		<article class="row">
			<div class="content col-xs-12 col-sm-8 col-md-9">
				{{{data.job.content.extended}}}
				<p>Applications will close on {{date data.job.expiryDate format='DD MMMM YYYY' }}.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 padded" id="sb-apply-now">
				<div class="page-heading">
					<h3>Apply Now</h3></div>
				<form action="/apply/jobId={{data.job.id}}" method="POST" role="form">
				
					<div class="form-group">
						<label for="fullname">Full Name</label>
						<input type="text" class="form-control" id="fullname" placeholder="Input field">
					</div>

					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" placeholder="Input field">
					</div>

					<div class="form-group">
						<label for="resume">Upload Resume/CV</label>
						<input type="file" class="form-control" id="resume" placeholder="Input field">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				{{# each data.jobs.results}}
<!--
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="job">
					<div class="col-sm-4 col-md-3">{{#if image}}<img src="{{{cloudinaryUrl image width=260 height=260 crop='fit' }}}" class="img pull-left">{{/if}}</div>
					<div class="col-sm-8 col-md-9">
						<h2><a href="{{jobUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">
							<span>{{#if author.name}}{{author.name}}{{/if}}</span>
							<span class="">{{{categoryList categories suffix=" Job"}}}</span>
							<p>Applications will close on {{date expiryDate format='DD MMMM YYYY' }}.</p>
						</p>
					</div>
					<div class="col-sm-12">
						<p>{{{content.brief}}}</p>
						{{#if content.extended}}<p class="read-more"><a href="{{jobUrl slug}}">Read more...</a></p>{{/if}}
					</div>
				</div>
 -->
 				{{/each}}
			</div>
		</article>
		{{>browseByCategory }}
	</section>
	<section class="container padded">
		<!-- <div class="panel">{{jobUrl data.job.slug}}</div> -->
		<div class="fb-like" data-href="https://looppngjobs.herokuapp.com{{jobUrl data.job.slug}}"></div>
		<div class="fb-send" data-href="https://looppngjobs.herokuapp.com{{jobUrl data.job.slug}}"></div>
		<div class="fb-share-button" data-href="https://looppngjobs.herokuapp.com{{jobUrl data.job.slug}}" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flooppngjobs.herokuapp.com{{jobUrlParse data.job.slug}}&amp;src=sdkpreparse">Share</a></div>
		<!-- <div class="fb-comments" data-href="https://looppngjobs.herokuapp.com{{jobUrl data.job.slug}}" data-width="100%" data-numposts="5"></div> -->
	</section>
</div>
