<div class="container-fluid page-heading">
	<h1 class="heading">We're Hiring</h1>
	<p class="sub-heading">trukai industries limited</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="text-weight-normal">Showing {{ data.jobs.results.length}} jobs.</h4>
			<div class="job">
				{{# each data.jobs.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="job">
					<h2><a href="{{jobUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{jobUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
