<div class="container-fluid page-heading">
	<h1 class="heading">Jobs</h1>
	<p class="sub-heading">Awesome Jobs Board</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="text-weight-normal">Showing {{ data.users.results.length}} users.</h4>
			<div class="panel">
				{{# each data.users.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="job">
					<div class="col-sm-4 col-md-3">{{#if image}}<img src="{{{cloudinaryUrl image width=260 height=260 crop='fit' }}}" class="img pull-left">{{/if}}</div>
					<div class="col-sm-8 col-md-9">
						<h2><a href="{{jobUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">
							<span>{{#if author.name}}{{author.name}}{{/if}}</span>
							<span class="">posted in {{{categoryList categories prefix=""}}}</span>
							<p>Applications will close on {{ expiryDate }}.</p>
						</p>
					</div>
					<div class="col-sm-12">
						<p>{{{content.brief}}}</p>
						{{#if content.extended}}<p class="read-more"><a href="{{jobUrl slug}}">Read more...</a></p>{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
